* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "General Sans", sans-serif;
  background-color: #f3f8ff;
}

.header__container {
  width: 100%;
  height: 80px;
  background-color: white;
  margin: 5px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  -webkit-box-shadow: -7px 100px 100px 76px rgba(105, 220, 232, 0.3);
  -moz-box-shadow: -7px 100px 100px 76px rgba(105, 220, 232, 0.3);
  box-shadow: -7px 100px 100px 76px rgba(105, 220, 232, 0.3);
}

.header-logo h1 {
  font-size: 24px;
}

.header-logo {
  display: flex;
  align-items: center;

  line-height: 40px;
  gap: 20px;
  font-size: 16px;
  font-weight: 900px;
}

.header-logo a {
  color: #0f0f0f;
  text-decoration: none;
}

.nav .nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
}

.nav-list a {
  text-decoration: none;
  color: #0f0f0f;
  transition: all 0.9s ease;
}

.nav-list a:hover {
  color: #1596cf;
}

.header-btn {
  width: 146px;
  height: 46px;
  border-radius: 30px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: white;
  border: none;
  background-color: #4194fd;
  cursor: pointer;
  transition: transform 0.7s ease;
}

.header-btn:hover {
  transform: scale(1.1);
  background-color: #31befa;
}

.container {
  max-width: 1540px;
  width: 100%;
  margin: 0 auto;
}

.main-logo {
  margin-top: 82px;
}

.main-title {
  font-family: "General Sans", sans-serif;
  width: 852px;
  height: 204px;
  text-align: center;
  margin-top: 70px;
}

.main-p {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
}

.main-p2 {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 48px;
  font-family: "General Sans", sans-serif;
  line-height: 60px;
}

.main-p2 span {
  color: #318bfc;
}

.main-desc {
  display: inline-block;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #3a3b3e;
}

.main-logo2 {
  margin-top: 20px;
}

.card-1 {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 100px;
}

.card-location {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 420px;
  height: 133px;
  border: solid 1px none;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  cursor: pointer;
}

.call-p {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

h5 {
  color: #4f5153;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
}

.icon {
  width: 40px;
  height: 40px;
}

.card-2 {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  width: 420px;
  height: 130px;
  border: solid 1px none;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}

.email-p {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

.text {
  color: #4f5153;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
}

.icon-2 {
  width: 41px;
  height: 40px;
}

.card-3 {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 870px;
  gap: 30px;
  height: 133px;
  margin: 20px auto;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
}

.icon-3 {
  width: 40px;
  height: 40px;
}

.card-3-p {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.text-2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
}

.sign_up {
  width: 1519px;
  height: 439px;
  margin: 0 auto;
  background-color: #0f0f0f;
  background-image: url(../image/photo.png);
  display: block;
}

.free {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
}

.sign-h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  color: #ffffff;
}

.sign-btn {
  width: 202px;
  height: 56px;
  border-radius: 7px;
  margin-top: 20px;
  padding: 1px;
  background-color: #1179fc;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: white;
  transition: transform 0.8s ease;
  cursor: pointer;
}

/* .sign-btn:hover {
  transform: scale(1.1);
  background-color: #4194fd;
} */
